@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}




.red-icon > *{
  color: red;
  width: fit-content;
}